@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Sora:wght@100..800&display=swap');

.sora-main {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.geist-main {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

body {
    margin: 0;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

p {
    margin: 0;
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}